* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  &.font-size {
    font-size: 75%;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.3s;
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: 0.3s;
  padding: 0;
  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.5;
  margin: 0;
}
